<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam perspiciatis officiis, ullam nostrum repudiandae porro odio quis cumque facere deserunt cupiditate deleniti eum enim velit laudantium corporis aperiam possimus. Non, accusantium! Sunt reiciendis ex adipisci aperiam ipsum, ea modi in.</p>
</body>
</html>