<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <h1>My Favourite Heros:</h1>
    <ul>
        <% for(let hero of heros){ %> 
            <li><%= hero %> </li>
        <% } %>
    </ul>
     
</body>
</html>